@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <div class="top-row px-4">
           
            <a href="https://www.youtube.com" target="_blank"><img src="/images/youtubeimage.png" /></a>
            <a href="https://twitter.com/?lang=en" target="_blank"><img src ="/images/twitter icon.png" /></a>
            <a href="https://www.linkedin.com" target="_blank"><img src ="/images/linkedin.png" /></a>
        </div>

        <div class="content px-4">
            @Body
        </div>
    </div>
</div>
