@page "/about"
<div style="height:1000px;">
    <h1 class="Story-Title">Our Story</h1>
    <br />
    <h5 style="text-align:center;" class="storymessage">
        C Dubs boardshop originated in Ogden,Ut.
        I started this shop because buying online these days are just filled with problems, ads, scams and just nonsense.
        Back in the day it was much simpler, you go into a shop and get some sized up for you and then walk out with a board.
        It seemed like once the online ordering started, that old feeling has gone extinct.
        I want that to be the same way but virtually!
        With my boardshop I want it to be straight to the point, simple, fast and trusting.
        I've been snowboarding for over 12 years and ridden multiple resorts and brands.
        Snowbasin is my home resort and we do many events supporting their ADAPT ski program helping people with disabilities be able to experience skiing!
        We offer many brands that are located here in Utah, border of Washington and Canada and more.
        So dont be afraid to look around and tryout new brands.
        Thank you for checking out our local boardshop!


    </h5>
    <table width="100%">
        <tr>
            <td width ="33%">
                <img src="/images/Homeboard.png" class="boardshop-image" style="float:right" />
            </td>
            <td width="33%">
                <img src="/images/ogdenmountains.jpg" class="ogden-image" style="text-align:center" />
            </td>

            <td width="33%">
                <img src="/images/snowbasin.png" class="snowbasin-image" />
            </td>
        </tr>

    </table>
   
</div>
@code {

}
