@page "/"
<div style="height:1000px">

    <title style="text-align:center;">C Dubs BoardShop </title>
    <h1 style ="text-align:center;" class="Welcome"> Welcome to C Dubs BoardShop!</h1>
    <br />
    <h3 class="homesale">
        Spring cleaning is in session!!! RIGHT NOW we are selling the rest of our boards, we will recieve the new 2024/2025 models in the fall!
        Make sure you get the boards while we still have them in stock! Navigate to the ShoppingCart when ready to checkout!
        Thank you for checking out C Dubs!!!
    </h3>
    <br />
    <table width="100%">
        <tr>
            <td width="50%">
                <img src="/images/homepage.png" class="homepageboard" style="float:right" />
            </td>
            <td width="50%">
                <img src="/images/mountainhome.png" class="homemountain" style="text-align:center" />
            </td>

            
        </tr>

    </table>
</div>
